#jinja2: trim_blocks:False
[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart={{ etcd_bin_dir }}/etcd --config-file {{ etcd_conf_dir }}/etcd.conf.yaml
Restart=on-failure
RestartSec=5
Type=notify

[Install]
WantedBy=multi-user.target
