{%- macro etcd_hosts() -%}
{%- for host in groups['etcd'] -%}
{{ etcd_protocol }}://{{ hostvars[host]['node_ip'] }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- endmacro -%}

[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=wg-quick@{{ wireguard_interface }}.service
Wants=wg-quick@{{ wireguard_interface }}.service

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server {{ '--datastore-endpoint="' + etcd_hosts() + '"' }} {{ extra_server_args | default("") }}
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
